@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic)
*
    margin: 0
    padding: 0
    box-sizing: border-box
html
    font-size: 24px
body
    width: 100%
    min-width: 375px
    height: 100vh
    font-family: 'Space Mono'
    line-height: 1
    display: flex
    flex-direction: column
    justify-content: flex-start
    #app
        padding: 1rem
        flex: 1 0 auto
        background: hsl(185, 41%, 84%)
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        .logo
            margin: 0.5rem 0
    .attribution
        padding: 0.4rem 1rem
        font-size: 0.6rem
        line-height: 1.2
        color: #FFFFFF
        background: #444545
        a
            display: inline-block
            color: #FFFFFF
            text-decoration: none
            border-bottom: 1px solid #FFFFFF
            transition: 0.3s
            &:hover
                border-color: transparent